# base ignoreable files
node_modules
coverage
.nyc_output
Dockerfile
docker-compose.ci.yml
CHANGELOG.md
tsconfig.json
lint-staged.config
.development.env
.prettierrc
.eslintrc.js
.dockerignore
.commitlintrc.js
# typescript specific ignorable files
src
